
nav {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  .logo {
    width: 250px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin: 0 15px;
    font-size: 16px;
  }
  
  .dark-nav {
    background: #212121;
    transition: 0.5s;
  }
  
  .menu-icon {
    display: none;
  }

    /* Media Query */
  
  @media (max-width:1000px){
    .logo {
        width: 140px;
      }
      nav ul li {
        margin: 10px 15px;
      }
    
  }


  @media (max-width: 840px) {
    nav{
        padding: 15px 0;
        
    }
    .logo {
      width: 140px;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      right: 0px;
      bottom: 0;
      background: #212121;
      z-index: -1;
      width: 200px;
      /* flex-direction: column; */
      padding-top: 70px;
      transition: 0.5s;
      display: block;
      flex-direction: column;
      align-items: center;
      
    }
  
    /* nav ul.show {
      right: 0px;
    }
   */
    nav ul li {
      margin: 25px 20px;
      display: block;
    }
  
    .menu-icon {
      display: block;
      width: 30px;
      cursor: pointer;
      
    }

    .hide-mobile-menu{
        right:-200px;
    }
  }
  